<div class="col-md-12">
    {{#if articles}} {{#each articles}}
    <form class="form-inline" action="/delete/{{id}}" method="POST">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title pull-left"><a href="/articles/{{id}}">{{title}}</a></h3>
                <button type="submit" class="btn btn-danger pull-right">Delete</button>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <p>{{{content}}}</p>
            </div>
        </div>
    </form>
    {{/each}} {{else}}
    <p>No articles!</p>
    <img src="/images/t-rex-cry.png"> {{/if}}

    <div class="panel panel-info">

        <div class="panel-heading">
            <h3 class="panel-title">New Article</h3>
        </div>
        <div class="panel-body">
            <form action="/articles" method="POST">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea id="content" name="content" class="form-control" rows="10" required></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>
            </form>
        </div>

    </div>
</div>