<div class="panel panel-primary">

    <div class="panel-heading">
        <h3 class="panel-title">{{title}}</h3>
    </div>
    <div class="panel-body">
        <p>{{{content}}}</p>
    </div>

</div>